.home-container {
  text-align: center;
  padding: 40px;
  background-color: #f4f4f9;
  min-height: 80vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
}

.home-container h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 10px;
}

.home-container p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr)); 
  /* Ensures good spacing between cards */
  gap: 70px; /* Increased gap for better separation */
  justify-items: center;
  margin-top: 10px;
  color: white;
  max-width: 1200px; /* Limit the maximum width of the cards container */
  margin-left: auto;
  margin-right: auto; 
}

.card {
  background-color: #4CAF50;
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  max-width: 300px; /* Prevent the card from stretching too much */
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 2rem;
  margin: 0;
}
